{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2 class:"text-right">{{ controller_name }}</h2>

</div>
{% endblock %}
