{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2 class:"text-right">{{ controller_name }}</h2>
    
</div>
{% endblock %}
