/*-----GÉNÉRAL-----*/
body{
    background-color: #2A2A2AFF;
    color: #FFFFFFFF;
}



/*-----CLASS-----*/
/*---Général---*/
/*-style-*/
/*background color*/
.bg-light{
    background-color: #FFFFFFFF;
    color: #000000FF;
}
.bg-dark{
    background-color: #2A2A2AFF;
    color: #FFFFFFFF;
}
/*text color*/
/*police*/
.bangers{
    font-family: 'Bangers', cursive;;
}

/*-position-*/
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

/*---target---*/
.logo{
    width: 8%;
}


/*-----ID-----*/