<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nozama{% endblock %}</title>
        
        <link rel="icon" href="/../images/logo.png">
        <link href="style.css" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="text-center">
        <nav class="bg-light">
            <div class="text-left">
                <img class="logo" src="/../images/logo.png" alt="Logo">
                <h1 class="bangers">Nozama</h1>
            </div>
            <div class="text-right">
                <a href="/register">S'enregistrer</a>
                <a href="/login">Se connecter</a>

                <a href="/">Produits</a>
                <a href="/panier">Panier</a>
                <a href="/about">A propos</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
